body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  width: 70%;
}
h1 {
  font-size: 200%;
  color: #320DFF;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 130%;
  color: #0C6DE8;
}
ol {
  width: 40%;
  margin: 10px 0 0 0;
  padding-left: 2em;
}
li { 
  padding: 3px;
  background-color: #efefef; 
}
li:nth-child(odd) {
  background-color: #dedede; 
}
li button {
  float: right;
}
button#add-item {
  margin: 5px;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  /*width: 70%;*/
  font-size: 50%;
}
span.edit-me:hover {
  background-color: yellow;
}